{% extends "base.html" %}

{% block title %}{{ article.title }} by Dan Foreman-Mackey{% endblock %}

{% block head %}
    {{ super() }}

    {% for keyword in article.keywords %}
    <meta name="keywords" contents="{{keyword}}" />
    {% endfor %}

    {% for description in article.description %}
    <meta name="description" contents="{{description}}" />
    {% endfor %}

    {% for tag in article.tags %}
    <meta name="tags" contents="{{tag}}" />
    {% endfor %}

    <link rel="stylesheet" href="{{ SITEURL }}/theme/css/article.css" type="text/css" />
    <script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>
{% endblock %}

{% block content %}
    <div class="container">
        <div id="topbar">
            <span><a href="{{ SITEURL }}">dan foreman-mackey</a></span>

            <ul>
                <li><a href="{{ SITEURL }}#about">About</a></li>
                <li><a href="{{ SITEURL }}#research">Research</a></li>
                <li><a href="{{ SITEURL }}#software">Code</a></li>
            </ul>
        </div>
    </div>

    <div id="topimage" style="background-image: url('{{ article.image }}')"></div>

    <div class="container">

        <h1>{{ article.title }}</h1>

        <section>
            {{ article.content }}
        </section>
    </div>
{% endblock %}
