/*-------------------------------------------------------------
      Reset, font normalization and base styles from
      https://github.com/paulirish/html5-boilerplate
------------------------------------------------------------ */

/* 
    (1) html5doctor.com Reset Stylesheet
        (Eric Meyer's Reset Reloaded + HTML5 baseline)
    
    v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
    html5doctor.com/html-5-reset-stylesheet/
*/

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ''; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

input, select { vertical-align: middle; }


/*
    Font normalization inspired by YUI Library's fonts.css
        developer.yahoo.com/yui/
    
    Note: hack retained to preserve specificity
*/

body { font:13px/1.231 sans-serif; *font-size:small; }
select, input, textarea, button { font:99% sans-serif; }

/*
    Normalize monospace sizing:
        en.wikipedia.org/wiki/MediaWiki_talk:Common.css/
            Archive_11#Teletype_style_fix_for_Chrome
*/

pre, code, kbd, samp {
    font-family: monospace, sans-serif;
}

/*-------------------------------------------------------------
                       General
------------------------------------------------------------ */

body {
    font-family: "helvetica neue", helvetica, arial, sans-serif;
    font-weight:200;
    color: #999999;
}

a {
    text-decoration: none;
    color: #999999;
    -webkit-transition: color .2s linear, text-shadow .2s linear;
    -moz-transition: color .2s linear, text-shadow .2s linear;
}

/*-------------------------------------------------------------
                       Layout
------------------------------------------------------------ */

html {
    background-color: #f7f7f7;
}

body {
    border-top: 6px solid #afdae8;
}

#content {
    padding: 25% 0 0 100px;
    width: 550px;
    margin-bottom: 60px;
}

/*-------------------------------------------------------------
                       Header
------------------------------------------------------------ */

header {
    color: #bbbbbb;
    font-size: 22px;
    line-height: 45px;
    border-bottom: 1.5px solid #f7f7f7;
    -webkit-transition: color 0.5s linear, border 0.7s linear;
    -moz-transition: color 0.5s linear, border 0.7s linear;
}

html:hover header {
    color: #777777;
    border-bottom: 1.5px solid #afdae8;
}

header p em {
    -webkit-transition: text-shadow .2s linear;
    -moz-transition: text-shadow .2s linear;
}
header p em:hover {
    text-shadow: #e3e9ef 0 1px 20px;
    color: #074b5b;
}

h1 {
    padding-top: 5px;
    font-family: "Raleway";
    font-size: 44px;
    color: #074b5b;
    -webkit-text-stroke: .5px #074b5b;
    -moz-text-stroke: .5px #074b5b;
    -webkit-transition: text-shadow .2s linear;
    -moz-transition: text-shadow .2s linear;
}

html:hover header h1 {
    text-shadow: #aaaaaa 0 1px 5px;
}


/*-------------------------------------------------------------
                       Content
------------------------------------------------------------ */

html:hover a {
    color: #074b5b;
}

a:hover {
    text-shadow: #888888 0 1px 10px;
}

#about {
    text-transform: uppercase;
    margin-top: 14px;
    font-size: 14px;
    color: #aaaaaa;
}

#socialmedia {
    margin-top: 14px;
}

#socialmedia ul li{
    display: inline;
}

#socialmedia ul li a{
    display: inline-block;
    overflow: hidden;
    width: 25px;
    height: 25px;
    text-indent: -9999px;
    background: url(badges.png) no-repeat;
}

#socialmedia ul li.github a {
    background-position: -25px top;
}

#socialmedia ul li a:hover {
    background: url(badges2.png) no-repeat;
}

#socialmedia ul li.github a:hover {
    background-position: -25px top;
}

/*-------------------------------------------------------------
                       Content
------------------------------------------------------------ */

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-device-width: 480px) {
    
    #content {
        padding: 10px 0 0 10px;
        width: 100%;
        margin-bottom: 60px;
    }
    
    
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

