#topbar {
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    padding: 40px 0 30px;
    font-size: 28px;
    letter-spacing: -0.01em;
    line-height: 36px;
    *zoom: 1;
}

#topbar:before,
#topbar:after {
    content: " ";
    display: table;
}

#topbar:after {
    clear: both;
}

#topbar a {
    background-image: none;
    -webkit-transition: color 0.2s;
}

#topbar a:hover {
    color: steelblue;
}

#topbar span {
    display: block;
    float: left;
}

#topbar ul {
    display: block;
    float: right;
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

#topbar li {
    display: inline;
    padding: 0 0 0 18px;
}

#topimage {
    background: #333;
    position: relative;
    width: 100%;
    height: 200px;
    margin: 0 0 30px;

    box-shadow: inset 0 0 10px rgba(0, 0, 0, .3);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}

@media (max-width: 650px) {
    #topbar {
        text-align: center;
    }

    #topbar span {
        float: none;
    }

    #topbar ul {
        float: none;
        display: block;
    }

    #topbar li {
        padding: 0 9px;
    }
}
