body {
    background-color: #fff;
    color: #333;
    font-family: "abril-text", serif;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-rendering: optimizelegibility;
}

a {
    color: #67ad00;
    text-decoration: none;
}

a:hover {
    color: #7fd600;
}

#container {
    width: 800px;
    margin: 50px auto;
}

header {
    *zoom: 1;
}

header:before, header:after {
    display: table;
    content: "";
}

header:after {
    clear: both;
}

#address {
    float: left;
}

#contact {
    float: right;
    text-align: right;
}

.name {
    font-size: 20px;
    line-height: 22px;
    font-weight: 600;
}

/* Content */

section {
    margin-top: 30px;
}

h2 {
    font-size: 20px;
    line-height: 22px;
    font-weight: 300;
}

section ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

section ul li {
    margin-bottom: 8px;
    *zoom: 1;
}

section ul li:before, section ul li:after {
    display: table;
    content: "";
}

section ul li:after {
    clear: both;
}

section ul li span {
    display: inline-block;
}

.indent {
    margin-left: 105px;
    padding-left: 10px;
    border-left: 3px solid #ddd;
    width: 600px;
}

.date {
    width: 90px;
    margin-right: 20px;
    text-align: right;
}

.position {
    font-style: italic;
}

.institute {
    font-weight: 600;
}

.meta {
    display: block;
    margin-left: 120px;
    font-size: 12px;
    line-height: 15px;
}

.code-name {
    display: block;
    float: left;
    width: 90px;
    margin-right: 20px;
    text-align: right;
}

.code-desc {
    display: block;
    float: left;
    width: 690px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 11px;
}
