.page-title {

}

.page-title h1 {
    margin: 0;
    padding: 0;
    font-size: 22px;
    font-weight: bold;
}

.page-title p {
    margin: 0;
    padding: 0;
    font-size: 13px;
    color: rgba(0, 0, 0, 0.4);
    font-weight: normal;
}

/*
 *  DEAL WITH IPYTHON NOTEBOOKS.
 */

.MathJax_Display {
    overflow-y: hidden;
    overflow-x: auto;
}

.MathJax a {
    background-position: 0 22px;
}

.prompt, .anchor-link {
    display: none;
}

.output_text pre {
    margin-bottom: 6px;
}

.output_png {
    padding: 0 20px;
    text-align: center;
}

.output img {
    max-width: 100%;
    height: auto;
}
