@import url(https://fonts.googleapis.com/css?family=Buenard:400,700|Inconsolata:400,700|Lato:300,400,700);

/*
 *  TYPOGRAPHIC STYLES
 */

html, body {
    height: 100%;
    font-family: "Buenard", Georgia, Cambria, "Times New Roman", Times, serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.8);
}

a {
    background: transparent;
    background-size: 2px 2px;
    background-position: 0 22px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
    background-repeat: repeat-x;
    color: inherit;
}

p {
    margin: 0;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    margin-bottom: 30px;
}

h1, h2 {
    font-family: "Lato", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 36px;
    padding: 10px 10px 10px 23px;
    border-left: 7px solid #eee;
    margin: 40px -30px 30px -30px;
}

h2 {
    font-size: 28px;
    padding: 10px 30px 10px 25px;
    margin: 50px -30px 20px -30px;
    border-left: 5px solid #eee;
}

pre, code {
    font-family: "Inconsolata", monospace;
}

pre {
    line-height: 1.6;
    font-size: 16px;
    margin: 0;
    margin-bottom: 30px;
}

blockquote {
    display: block;
    margin: 1em;
    font-style: italic;
}

/*
 *  LAYOUT STYLES
 */

.container {
    width: 800px;
    margin: 0 auto;
}

@media (max-width: 850px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .container {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .container {
        width: 88.88%;
    }
}

/*
 *  BOTTOM BAR STYLE
 */

#bottom {
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 0;
    margin: 0;
    line-height: 1.7;
    text-align: center;
    padding: 20px 0;
    margin-top: 75px;
}

#bottom a {
    background-image: linear-gradient(to bottom, rgba(255,255,255,0) 75%, rgba(255,255,255,0.8) 75%);
    background-position: 0 16px;
}

#bottom ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#bottom li {
    font-weight: 400;
    font-style: normal;
    font-size: 16px;
    line-height: 1.7;
    margin: 0;
}

#bottom li.title {
    font-size: 26px;
    font-weight: 700;
    font-style: italic;
}

#bottom li.title a {
    background-image: none;
}

#bottom i {
    padding-right: 4px;
}

#bottom .copyright {
    font-size: 14px;
    padding: 30px 0 0;
    margin: 0;
    font-style: italic;
}

#bottom .copyright a {
    background-position: 0 14px;
}

#bottom hr {
    display: block;
    width: 14%;
    margin: 15px auto 13px;
    border: 0;
    border-top: 1px solid rgba(255,255,255,0.15);
    box-sizing: content-box;
    height: 0;
}
