@import url(https://fonts.googleapis.com/css?family=Inconsolata:400,700|Source+Sans+Pro:300,400,700);

/*
 *  TYPOGRAPHIC STYLES
 */

html, body {
    height: 100%;
    font-family: "Source Sans Pro", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: normal;
    -webkit-font-smoothing: antialiased;
    font-size: 20px;
    line-height: 1.8;
    color: rgba(0, 0, 0, 0.8);
}

a {
    background: transparent;
    background-size: 2px 2px;
    background-position: 0 22px;
    text-decoration: none;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, rgba(0,0,0,0.8) 75%);
    background-repeat: repeat-x;
    color: inherit;
}

p {
    margin: 0;
    margin-bottom: 30px;
}

ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

li {
    margin: 0;
    margin-bottom: 30px;
}

h1, h2 {
    font-family: "Source Sans Pro", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: 700;
}

h1 {
    font-size: 36px;
    padding: 10px 10px 10px 23px;
    border-left: 7px solid #eee;
    margin: 40px -30px 30px -30px;
}

h2 {
    font-size: 28px;
    padding: 10px 30px 10px 25px;
    margin: 50px -30px 20px -30px;
    border-left: 5px solid #eee;
}

pre, code {
    font-family: "Inconsolata", monospace;
}

pre {
    line-height: 24px;
    font-size: 16px;
    margin: 0;
    margin-bottom: 30px;
}

blockquote {
    display: block;
    margin: 1em;
    font-style: italic;
}

/*
 *  LAYOUT STYLES
 */

.container {
    width: 800px;
    margin: 0 auto;
}

@media (max-width: 850px) {
    .container {
        width: 600px;
    }
}

@media (max-width: 650px) {
    .container {
        width: 400px;
    }
}

@media (max-width: 450px) {
    .container {
        width: 88.88%;
    }
}

/*
 *  TOP BAR STYLE
 */

.topbar {
    font-family: "Source Sans Pro", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    padding: 0 0 30px;
    font-size: 28px;
    letter-spacing: -0.02rem;
    line-height: 36px;
    text-align: center;
    font-weight: 300;
}

.topbar a {
    background-image: none;
    -webkit-transition: color 0.2s;
}

.topbar a:hover {
    color: steelblue;
}

.topbar ul {
    font-size: 15px;
    font-weight: 700;
    text-transform: uppercase;
}

.topbar li {
    display: inline;
    padding: 0 9px;
}

.topavatar {
    padding: 50px 0 0;
    text-align: center;
}

.topavatar img {
    width: 100px;
    height: 100px;
}


/*
 *  BOTTOM BAR STYLE
 */

.bottom {
    width: 80%;
    text-align: center;
    color: #5b5b5b;
    font-family: "Source Sans Pro", "Lucida Grande","Lucida Sans Unicode","Lucida Sans",Geneva,Verdana,sans-serif;
    font-weight: normal;
    font-size: 14px;
    padding: 20px 0 50px;
}

.bottom hr {
    display: block;
    width: 14%;
    margin: 40px auto;
    border: 0;
    border-top: 1px solid rgba(0,0,0,0.15);
    box-sizing: content-box;
    height: 0;
}

.bottom p {
    margin: 0;
}

.bottom a {
    background-position: 0 14px;
    font-weight: 700;
}
