@font-face {
    font-family: "Latin Modern";
    src: url('/theme/fonts/lmroman9-regular.otf');
}

@font-face {
    font-family: "Latin Modern";
    src: url('/theme/fonts/lmroman9-italic.otf');
    font-style: italic;
}

@font-face {
    font-family: "Latin Modern";
    src: url('/theme/fonts/lmroman9-bold.otf');
    font-weight: bold;
}

.topavatar, .topbar, .bottom, .pdf-link {
    display: none;
}

body, h1, h2 {
    font-family: "Latin Modern";
}

li, .address {
    font-size: 14px;
    margin-bottom: 10px;
}

.address a, li a {
    background: none;
    text-decoration: underline;
}

.container {
    width: 95%;
    margin: 0 auto;
}
