.index-body {
    -webkit-transform-style: preserve-3d;
    -moz-transform-style: preserve-3d;
    transform-style: preserve-3d;

    height: 100%;
    width: 100%;

    background: #000;
    background-image: url('../images/top1.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 100% auto;
}

.shim {
    content: " ";
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
}

@media (max-aspect-ratio: 4/3) {
    .index-body {
        background-size: auto 100%;
    }
}

.index-inner {
    position: relative;
    top: 50%;
    padding: 20px 0;
    color: #fff;
    -webkit-transform: translateY(-50%);
       -moz-transform: translateY(-50%);
         -o-transform: translateY(-50%);
            transform: translateY(-50%);
}

.topbar {
    color: #fff;
    margin: 0;
    padding: 0;
}

.topbar span {
    font-weight: 700;
    font-size: 42px;
}

.social {
    text-align: center;
    font-weight: 700;
    color: #fff;
    padding: 20px 0 0;
}

.social a {
    font-size: 10px;
    padding: 0 10px;
    -webkit-transition: color 0.2s;
}

.topbar a:hover, .social a:hover {
    color: rgba(255, 255, 255, 0.8);
}

.photo-credit {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #aaa;
    font-size: 13px;
    padding: 12px;
}

.photo-credit a {
    background-position: 0 13px;
    background-image: linear-gradient(to bottom, rgba(0,0,0,0) 75%, #aaa 75%);
}
