<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">

    <title>{{ page.title }}</title>

    <meta name="description" content="Dan Foreman-Mackey is a graduate student at NYU working on astronomical data analysis.">
    <meta name="keywords" content="Dan Foreman-Mackey, Dan F-M, Astrophysics, Astronomy, MCMC, NYU, emcee">
    <meta name="author" content="Dan Foreman-Mackey">

    <script type="text/javascript" src="//use.typekit.com/phg8fgl.js"></script>
    <script type="text/javascript">try{Typekit.load();}catch(e){}</script>

    <link href="//fonts.googleapis.com/css?family=Yanone+Kaffeesatz:400,700" rel="stylesheet" type="text/css">
    <link href="/assets/normalize.css" rel="stylesheet" type="text/css">
    <link href="/assets/screen.css" rel="stylesheet" type="text/css">
    <link href="/assets/syntax.css" rel="stylesheet" type="text/css">

    <link rel="shortcut icon" href="/assets/favicon.png">

    <link href="http://feeds.feedburner.com/dfm" rel="alternate" title="Dan Foreman-Mackey" type="application/atom+xml" />

</head>
<body>
    <div class="container">
        <header>
            <div class="header-left">
                <img src="/assets/avatar.png" alt="Dan F-M">
            </div>
            <div class="header-right">
                <h1><a href="/">Dan Foreman-Mackey</a></h1>
                <p class="header-tagline">
                    I write code for good &amp; astrophysics.
                </p>
            </div>
        </header>

        {{ content }}

        <footer>
            <p>
                I'm on <a href="https://github.com/dfm">GitHub</a> &amp;
                <a href="http://twitter.com/__dfm__">Twitter</a>. Here's my
                <a href="/cv/">C.V.</a> and
                <a href="http://qspace.library.queensu.ca/bitstream/1974/5998/1/Foreman-Mackey_Daniel_T_201008_MSc.pdf">M.Sc. thesis</a>.
            </p>
            <p>
                Unless otherwise noted, all content by Dan Foreman-Mackey.
                Licensed under <a href="http://creativecommons.org/licenses/by-nc-sa/3.0/">Creative Commons</a>.
            </p>
        </footer>

    </div>

    <a href="http://github.com/dfm"><img style="position: fixed; top: 0; right: 0; border: 0;" src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png" alt="Fork me on GitHub" /></a>

    <script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-22909046-1']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
        })();
    </script>

</body>
</html>

