<!DOCTYPE html>
<html>
    <head>
        <title>{{ page.title }}</title>
        
        <meta name="author" content="Dan Foreman-Mackey" />        
        <meta name="viewport" content="width=device-width, initial-scale=1.0">

        <link href="http://feeds.feedburner.com/dfm" rel="alternate" 
            title="Dan Foreman-Mackey" type="application/atom+xml" />        

        <link href='http://fonts.googleapis.com/css?family=Limelight&v2'
            rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="/css/syntax.css" type="text/css" />        
        <link rel="stylesheet" href="/css/screen.css" type="text/css">
    </head>
    <body>
        <div id="site">

            {{ content }}

            <footer>
                <ul id="contact">
                    <li>Dan Foreman-Mackey<br />
                        <a href="http://cosmo.nyu.edu/"
                            title="Center for Cosmology and Particle Physics">CCPP</a>
                        at <a href="http://physics.nyu.edu/"
                            title="Physics">NYU</a>
                    </li>
                    <li>
                        <a href="https://github.com/dfm"
                            title="Beautiful code!">github.com/dfm</a>
                        <br />
                        <a href="http://dtfm.tumblr.com"
                            title="Do I ever update it?">dtfm.tumblr.com</a>
                    </li>
                </ul>
            </footer>
        </div>

        <a href="http://github.com/dfm">
            <img style="position: fixed; top: 0; right: 0; border: 0;"
            src="http://s3.amazonaws.com/github/ribbons/forkme_right_red_aa0000.png"
            alt="Fork me on GitHub" />
        </a>
        
        <script type="text/javascript">
            var _gaq = _gaq || [];
            _gaq.push(['_setAccount', 'UA-22909046-1']);
            _gaq.push(['_trackPageview']);
            (function() {
                var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
                ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
                var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
            })();
        </script>

    </body>
</html>
