---
layout: default
---

<section id="about">
    <div class="section-right offset">
        <p class="bio">
            I'm a graduate student at NYU working on next generation
            astronomical data analysis under the supervision of
            <a href="http://hoggresearch.blogspot.com">David W. Hogg</a>.
            When I'm not writing code, I'm probably climbing rocks somewhere.
            Take a look at <a href="/cv">my C.V.</a> or scroll down to read
            about some of the projects that I'm working on.
        </p>
    </div>
</section>


<section id="projects">
    <div class="section-title">
        <h2>Projects</h2>
    </div>
    <div class="section-title">
        <h3>Research</h3>
    </div>
    <div class="section-body">
        <ul>
            <li class="project">
                <span class="project-name">
                    <a href="http://dan.iel.fm/emcee">emcee</a>
                </span>
                <span class="project-desc">
                    Kick-ass MCMC sampling in Python. See
                    <a href="http://arxiv.org/abs/1202.3665">the paper</a>.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://daft-pgm.org">Daft</a>
                </span>
                <span class="project-desc">
                    Draw pixel-perfect probabilistic graphical models using
                    <a href="http://matplotlib.org">matplotlib</a>.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="https://github.com/dfm/kplr">kplr</a>
                </span>
                <span class="project-desc">
                    Python bindings to the
                    <a href="http://archive.stsci.edu/vo/mast_services.html">MAST
                    Kepler API</a>.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="https://github.com/dfm/untrendy">Untrendy</a>
                </span>
                <span class="project-desc">
                    A robust time series "de-trending" specifically designed
                    to remove systematic and astrophysical effects in
                    <a href="http://kepler.nasa.gov/">Kepler</a> light curves
                    while maintaining transit signals.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="https://github.com/dfm/bart">BART</a>
                </span>
                <span class="project-desc">
                    A Python module for fitting exoplanet transits &amp;
                    radial velocity observations.
                </span>
            </li>
        </ul>
    </div>

    <div class="section-title">
        <h3>Web Applications &amp; Demos</h3>
    </div>
    <div class="section-body">
        <ul>
            <li class="project">
                <span class="project-name">
                    <a href="http://osrc.dfm.io">The Open Source Report Card</a>
                </span>
                <span class="project-desc">
                    Automatically generate a human-readable description of
                    <a href="https://github.com">GitHub</a> users' personality
                    based on their activity.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://twitterick.com">Twitterick</a>
                </span>
                <span class="project-desc">
                    Poems (roughly following
                    <a href="http://en.wikipedia.org/wiki/Limerick_(poetry)">the
                    limerick form</a>) automatically generated using tweets.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.wtfisforlunch.com">WTF is for Lunch?</a>
                </span>
                <span class="project-desc">
                    Let a robot decide where you're going to go for lunch.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://dan.iel.fm/xkcd">D3-XKCD</a>
                </span>
                <span class="project-desc">
                    Draw like <a href="http://xkcd.com/1064/">Randall Munroe</a>
                    using <a href="http://d3js.org">D3.js</a>.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://www.ngra.ms">ngra.ms</a>
                </span>
                <span class="project-desc">
                    An XKCD-style interface to the Google N-gram viewer.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://dan.iel.fm/optimize.js/">optimize.js</a>
                </span>
                <span class="project-desc">
                    Numerical optimization <strong>in the browser</strong>!
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="http://danfm.ca/ads_search">ADS Search</a>
                </span>
                <span class="project-desc">
                    A web service for intuitive searching of the NASA
                    Astrophysics Data System.
                </span>
            </li>
            <li class="project">
                <span class="project-name">
                    <a href="https://www.arxiv.io">arXiv.io</a>
                </span>
                <span class="project-desc">
                    <strong>Eventually</strong>: a social interface to
                    <a href="http://arxiv.org">the arXiv</a>.
                    <strong>For now</strong>: a placeholder &amp;
                    <a href="https://github.com/dfm/arxiv-analysis">open-source
                    code for scraping the arXiv listings</a>.
                </span>
            </li>
        </ul>
    </div>
</section>


<section id="blog">
    <div class="section-title">
        <h2>Writing</h2>
    </div>
    <div class="section-body">
        <ul>
            {% for post in site.posts %}
            <li class="blog-entry">
                <span class="blog-date">
                    {{ post.date | date: "%B %d, %Y" }}
                </span>
                <span class="blog-desc">
                    <a href="{{ post.url }}" class="blog-title">{{ post.title }}</a> &mdash;
                    {{ post.excerpt }}
                </span>
            </li>
            {% endfor %}
        </ul>
    </div>
</section>

